*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: #E9BA58;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-container button,
.result-container .result button{
  background-color: rgba(68, 68, 213, 0.909);
  padding: 1rem;
  padding-inline: 4rem;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}

.home-container button{
  margin-top: 3rem;
  cursor: alias;
}

.result-container,
.home-container{
  text-align: center;
  background-color: white;
  color: rgb(13, 13, 104);
  padding: 2rem;
  min-height: 20rem;
  width: 35rem;
  border-radius: .5rem;
}
.result-container .remark{
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: bold;
}
.result-container .result h4,
hr{
  margin-top: 2rem;
}
