@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 600px) {
  html {
      font-size: 13px;
  }
}

